body{
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 40px;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px; 
    list-style: none;
    padding: 0;
    margin: 0;
    row-gap: 50px;
}
.gallery li {
    flex: 0 0 calc(33.333% - 10px); 
    box-sizing: border-box;
}
.gallery img {
    width: 100%;
    height: 250px;
    display: block;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
.gallery img:hover{
    transform: scale(1.1);
}